<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">Nominal</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/nominal">Nominal</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add</li>
            </ol>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid"> 
        <div class="card card-primary card-outline mb-4">
          <div class="card-header">
            <div class="card-title">
              Add Nominal Form
            </div>
          </div>
          <!--begin::Body-->
          <form action="/nominal/create" method="POST">
            <div class="card-body">
              <div class="mb-3">
                <label for="coinName" class="form-label">Coin name</label>
                <select class="form-select" id="basic-usage" data-placeholder="Choose one coin" name="coinName" required>
                  <option selected="selected"></option>
                  <% 
                      const coins = ["Gold", "Diamond", "Jewel"];
                      coins.forEach(coin => { 
                  %>
                      <option value="<%= coin %>">
                          <%= coin %>
                      </option>
                  <% }); %>
              </select>
              </div>
              <div class="mb-3">
                <label for="coinQuantity" class="form-label">Qty</label>
                <input type="number" class="form-control" id="coinQuantity" name="coinQuantity" aria-describedby="coinQuantity" placeholder="Type qty...." required>
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" name="price" aria-describedby="price" placeholder="Type price...." required>
              </div>
            </div>
            <!--end::Body-->
            <!--begin::Footer-->
            <div class="card-footer" style="display: flex; justify-content: end;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <!--end::Footer-->
        </form>
        </div>
      </div>
    </div>
</main>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>